.card{
    padding: 1rem;
    background-color: rgba(228, 228, 228, 0.651);
    border-radius: 1rem;
}
.image{
    border-radius: 1rem;
    height: 17rem;
}

.tourinfo{
    min-height: 9rem;
}

.tourdetails{
    margin: 1rem 0px;
}

.tourprice{

}